<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{145,144},{99,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_let1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{64,96},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_let10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,96},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_let11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{128,96},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_let12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,144},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_let2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{192,96},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_let3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_let5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{128,48},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_let4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_let6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{128,0},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_let7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{64,48},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_let8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{192,0},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_let9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,48},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_mall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,37}</string>
                <key>spriteSourceSize</key>
                <string>{81,37}</string>
                <key>textureRect</key>
                <string>{{64,144},{81,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_sale.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{192,48},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btn_shop.png</string>
            <key>size</key>
            <string>{256,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56a6320ed9c77b1055392699152747a7:20b7d89423769122ab305a2afc3f15b3:ac8cc1d0c6c07140eb57ffa40903ae81$</string>
            <key>textureFileName</key>
            <string>btn_shop.png</string>
        </dict>
    </dict>
</plist>
