<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,226},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>clubs_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,2},{156,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,202}</string>
			</dict>
			<key>clubs_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,432},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>clubs_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,638},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>clubs_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,844},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>clubs_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1050},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>clubs_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1256},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>clubs_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1462},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>clubs_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1668},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>clubs_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,226},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>clubs_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,2},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>clubs_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,432},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>clubs_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,638},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>clubs_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,844},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>diamonds_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,413},{156,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,202}</string>
			</dict>
			<key>diamonds_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1050},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>diamonds_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1256},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>diamonds_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1462},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>diamonds_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1668},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>diamonds_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,208},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>diamonds_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,2},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>diamonds_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,414},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>diamonds_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,620},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>diamonds_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,826},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>diamonds_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,1032},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>diamonds_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,1238},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>diamonds_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,1444},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,208},{157,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,201}</string>
			</dict>
			<key>hearts_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,619},{156,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,202}</string>
			</dict>
			<key>hearts_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,1650},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>hearts_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,208},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>hearts_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,2},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>hearts_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,414},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>hearts_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,620},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>hearts_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,826},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>hearts_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1032},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>hearts_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1238},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>hearts_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1444},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>hearts_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,1650},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>hearts_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,208},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>hearts_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,2},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>jx_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1874},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1948},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,1874},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,1948},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1874},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,1948},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1874},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1948},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,1874},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,1948},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,1874},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,1948},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,1856},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_clubs_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,1930},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1856},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1930},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,1856},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,1930},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,1856},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,1930},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1856},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1930},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1856},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1930},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,1856},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,1930},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_diamonds_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1856},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1475},{51,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,68}</string>
			</dict>
			<key>jx_hearts_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,1930},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_hearts_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1856},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_hearts_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1930},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_hearts_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1856},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_hearts_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1930},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_hearts_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,1856},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_hearts_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,1930},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_hearts_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1856},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_hearts_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1930},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_hearts_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1031},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_hearts_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1105},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_hearts_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1179},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_hearts_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1253},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_king_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1327},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_king_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1401},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1475},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1549},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1623},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1697},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1771},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1845},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1919},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1031},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1105},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1179},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1253},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1327},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>jx_spades_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,1401},{51,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,70}</string>
			</dict>
			<key>king_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,414},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>king_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,620},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>label.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,826},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>spades_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,825},{156,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,202}</string>
			</dict>
			<key>spades_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1032},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>spades_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1238},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>spades_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1444},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>spades_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1650},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>spades_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,208},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>spades_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,2},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>spades_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,414},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>spades_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,620},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>spades_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,826},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>spades_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1032},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>spades_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1238},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>spades_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1444},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>label_flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1650},{157,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,202}</string>
			</dict>
			<key>label_Light.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{167,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,220}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>poker.png</string>
			<key>realTextureFileName</key>
			<string>poker.png</string>
			<key>size</key>
			<string>{1136,2020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1136</integer>
			<key>height</key>
			<integer>2020</integer>
		</dict>
	</dict>
</plist>