<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_autumn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{55,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{110,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{165,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{220,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{275,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{330,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{385,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{440,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_bamboo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{495,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{550,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{605,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{660,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{715,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{770,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{825,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{880,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{935,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_character_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{990,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1045,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1100,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1155,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1210,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1265,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1320,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1375,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1430,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_dot_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1485,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_plum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1540,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_wind_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1595,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_wind_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1650,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_wind_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1705,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_wind_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1760,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_wind_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1815,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_wind_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1870,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_wind_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1925,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B_winter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{1980,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mj_bottom.png</string>
            <key>size</key>
            <string>{2035,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65c0e3ba3577f0d3ea4c9015f81d1f5f:309e39847254f8161a1810fb278d467b:f3cb3ba0edc5a6217f8b79b890f9f0cc$</string>
            <key>textureFileName</key>
            <string>mj_bottom.png</string>
        </dict>
    </dict>
</plist>
