<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,27}</string>
                <key>spriteSourceSize</key>
                <string>{16,27}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,146},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{180,50}</string>
                <key>textureRect</key>
                <string>{{0,50},{180,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>join_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{180,50}</string>
                <key>textureRect</key>
                <string>{{16,0},{180,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,818},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,818},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,722},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,626},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,914},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,1010},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,1106},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,1106},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,1010},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,914},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligth9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,722},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,626},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,242},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,242},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,146},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{180,50},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,338},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,434},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{0,530},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,530},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,434},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outline9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,96}</string>
                <key>spriteSourceSize</key>
                <string>{251,96}</string>
                <key>textureRect</key>
                <string>{{251,338},{251,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>return_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,50}</string>
                <key>spriteSourceSize</key>
                <string>{180,50}</string>
                <key>textureRect</key>
                <string>{{196,0},{180,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btn_create_join_return.png</string>
            <key>size</key>
            <string>{502,1202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61a8cd815bfffae4f5eedaf541ea21c8:3f0a7c1d1076ec5bb4386edd164ff2c7:dee53d932bd20fb9779fdebc62442d07$</string>
            <key>textureFileName</key>
            <string>btn_create_join_return.png</string>
        </dict>
    </dict>
</plist>
