<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_mj_b_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,84}</string>
                <key>spriteSourceSize</key>
                <string>{55,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_b_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{0,84},{49,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_b_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{0,124},{49,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_b_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,59}</string>
                <key>spriteSourceSize</key>
                <string>{38,59}</string>
                <key>textureRect</key>
                <string>{{0,164},{38,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,60}</string>
                <key>spriteSourceSize</key>
                <string>{24,60}</string>
                <key>textureRect</key>
                <string>{{38,164},{24,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,60}</string>
                <key>spriteSourceSize</key>
                <string>{24,60}</string>
                <key>textureRect</key>
                <string>{{0,224},{24,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e_mj_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,59}</string>
                <key>spriteSourceSize</key>
                <string>{40,59}</string>
                <key>textureRect</key>
                <string>{{24,224},{40,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mj_empty.png</string>
            <key>size</key>
            <string>{64,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c687a842cc703f323cefff4d7a0645f6:0cff7f2499254134a1fe8b2a446ad222:87460b13de36953a6a16e39b4673a348$</string>
            <key>textureFileName</key>
            <string>mj_empty.png</string>
        </dict>
    </dict>
</plist>
